/*
 * Armenify spacing design tokens.
 */

:root {
  /* Spacing and radius scale */
  --space-space-0-5: 0.125rem;
  --space-space-1: 0.25rem;
  --space-space-1-5: 0.375rem;
  --space-space-2: 0.5rem;
  --space-space-3: 0.75rem;
  --space-space-4: 1rem;
  --space-space-5: 1.25rem;
  --space-space-6: 1.5rem;
  --space-space-7: 1.75rem;
  --space-space-8: 2rem;
  --space-space-9: 2.25rem;
  --space-space-10: 2.5rem;
  --space-space-11: 2.75rem;
  --space-space-12: 3rem;
  --space-space-13: 3.25rem;
  --space-space-14: 3.5rem;
  --space-space-15: 3.75rem;
  --border-xs: 0.25rem;
  --border-md: 0.5rem;
  --border-x-lg: 0.75rem;
  --border-xx-lg: 1rem;
  --space-space-2-5: 0.625rem;
  --space-space-3-5: 0.875rem;
  --space-space-4-5: 1.125rem;
  --border-xxs: 0.125rem;
  --border-sm: 0.375rem;
  --border-lg: 0.625rem;
}
